 /* body { height: 200vh;
background-color: rgb(189, 255, 255);}
.static {

            width: 200px; 
            height: 200px; 
            border-radius: 50%;
            background-color: #ea76ff; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            color: rgb(0, 0, 0); 
            
            text-align: center; }
.relative {
  width: 200px; 
            height: 200px; 
            border-radius: 50%;
            background-color: #ea76ff; 
            display: flex; 
            color: rgb(0, 0, 0); 
            text-align: center;
            left:50px;
            top:20%;
        }
           
.container{
 width: 200px; 
            height: 200px; 
            border-radius: 50%;
            background-color: #ea76ff; 
            display: flex; 
         
            align-items: center; 
            color: rgb(0, 0, 0); 
            
            text-align: center; }

.abcolute {
  width: 200px; 
            height: 200px; 
            border-radius: 50%;
            background-color: #ea76ff; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            color: rgb(0, 0, 0); 
            
            text-align: center; }
.fixed {
   position: fixed;
width: 200px; 
            height: 200px; 
            border-radius: 50%;
            background-color: #ea76ff; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            color: rgb(0, 0, 0); 
            
            text-align: center; }
.sticky {
    width: 200px; 
            height: 200px; 
            border-radius: 50%;
            background-color: #ea76ff; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            color: rgb(0, 0, 0); 
            
            text-align: center; } */
           body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            line-height: 1.6;
            min-height: 100vh;
            position: relative;
        }
        
        h1 {
            text-align: center;
            color: #fff;
            background-color: #333;
            padding: 1rem;
            margin-bottom: 2rem;
        }
        
        .container{
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    border-radius: 6%;
    align-items: center
}
        .example {
            width: 300px;
            height: 200px;
            margin: 1rem;
            float: left;
            position: static; /* По умолчанию статичное */
            transition: transform 0.3s ease-in-out;
        }
        
        .static {
            background-color: lightblue;
        }
        
       .relative {
            position: relative;
            top: 20px;
            right: 20px;
            background-color: lightgreen;
        }
        
        .absolute {
            position: absolute;
            bottom: 50px;
            left: calc(50% - 150px); /* Центрирование абсолютного блока */
            background-color: orange;
        }
        
        .fixed {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: pink;
        }
        
        p {
            text-align: center;
            font-weight: bold;
            color: #fff;
        }
        
        @media screen and (max-width: 768px) {
            .example {
                width: 100%;
                height: auto;
                margin-top: 1rem;
                clear: both;
            }
            
           
            
            .sticky{
    position:sticky ;
    width: 200px;
    height:70px ;
    background-color: crimson;
    top:50px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
}
        }