body {
    margin: 0;
    padding: 20px;
    background: #f6b8b8;
  }
  .container {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px;
    justify-content: flex-start;
  }
  
  .small {
    width: 120px;
    height: 120px;
    background-color: rgb(13, 11, 185);

  }
.medium {
    width: 250px;
    height: 120px;
    background-color: rgb(202, 26, 26);
  }
.big {
    width: 250px;
    height: 120px;
    background-color: rgb(126, 253, 115);
  }

  .large {
    width: 350px;
    height: 120px;
    background-color: rgb(117, 105, 186);
  }